<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>表配置</title>
    <link rel="stylesheet" href="../../static/style/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/style/bootstrap-table.min.css">
    <link rel="stylesheet" href="../../static/style/bootstrap-select.min.css">
    <link rel="stylesheet" href="../../static/style/base.css">
    <script src="../../static/script/jquery-3.3.1.min.js"></script>
    <script src="../../static/script/bootstrap.min.js"></script>
    <script src="../../static/script/bootstrap-table.min.js"></script>
    <script src="../../static/script/bootstrap-table-zh-CN.min.js"></script>
    <script src="../../static/script/bootstrap-select.min.js"></script>
    <script src="../../static/script/bootbox.min.js"></script>
    <script src="../../static/script/config.js"></script>
    <script src="../../static/script/base.js"></script>
</head>
<body>
    <div class="configHeader">
        <a href="/" class="pull-right"><i class="glyphicon glyphicon-home"></i>返回主页</a>
    </div>
    <div class="container">
        <div>
            <ul class="nav nav-pills" role="tablist">
                <li role="presentation" class="active"><a href="#pageconfig" aria-controls="pageconfig" role="tab" data-toggle="tab">页面路由配置</a></li>
                <li role="presentation"><a href="#navconfig" aria-controls="navconfig" role="tab" data-toggle="tab">左侧导航菜单配置</a></li>
                <li role="presentation"><a href="#ISFlagconfig" aria-controls="ISFlagconfig" role="tab" data-toggle="tab">基本判断配置</a></li>
                <li role="presentation"><a href="#InputTypeconfig" aria-controls="InputTypeconfig" role="tab" data-toggle="tab">输入类型和字段类型配置</a></li>
                <li role="presentation"><a href="#databaseconfig" aria-controls="databaseconfig" role="tab" data-toggle="tab">数据库建表</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="pageconfig">
                    <div id="pageModal" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        ×
                                    </button>
                                    <h4 class="modal-title">
                                        配置信息
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <form class="form-horizontal" action="">
                                        <div class="form-group">
                                            <label for="ID" class="col-sm-3 control-label">ID</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="ID" placeholder="" disabled="disabled">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="SetRoute" class="col-sm-3 control-label">页面描述</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="SetRoute" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="PageRouteName" class="col-sm-3 control-label">页面名（xxx.html）</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="PageRouteName" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="Route" class="col-sm-3 control-label">页面路由</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="Route" placeholder="">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- dialog buttons -->
                                <div class="modal-footer"><button type="button" class="btn btn-primary saveForm" data-save-btn>保存</button></div>
                            </div>
                        </div>
                    </div>
                    <div id="pageToolbar">
                        <form class="form-inline">
                            <div class="form-group">
                                <div class="input-group">
                                    <select id="pageSearchField" class="selectpicker" data-live-search="true"></select>
                                </div>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="pageSearchVal">
                                </div>
                                <button type="button" class="btn btn-primary" data-search-btn>查询</button>
                                <button type="button" class="btn btn-info" data-add-btn>添加</button>
                                <button type="button" class="btn btn-warning" data-updata-btn>编辑</button>
                                <button type="button" class="btn btn-danger" data-delete-btn>删除</button>
                            </div>
                        </form>
                    </div>
                    <table id="pageTab"></table>
                </div>
                <div role="tabpanel" class="tab-pane" id="navconfig">
                    <div id="navModal" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        ×
                                    </button>
                                    <h4 class="modal-title">
                                        配置信息
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <form class="form-horizontal" action="">
                                        <div class="form-group">
                                            <label for="ID" class="col-sm-3 control-label">ID</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="ID" placeholder="" disabled="disabled">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="BigMenuName" class="col-sm-3 control-label">大菜单名字</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="BigMenuName" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="BigMenuLogo" class="col-sm-3 control-label">大菜单的图标</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="BigMenuLogo" placeholder="">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- dialog buttons -->
                                <div class="modal-footer"><button type="button" class="btn btn-primary" data-save-btn>保存</button></div>
                            </div>
                        </div>
                    </div>
                    <div id="navToolbar">
                        <form class="form-inline">
                            <div class="form-group">
                                <div class="input-group">
                                    <select id="navSearchField" class="selectpicker" data-live-search="true"></select>
                                </div>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="navSearchVal">
                                </div>
                                <button type="button" class="btn btn-primary" data-search-btn>查询</button>
                                <button type="button" class="btn btn-info" data-add-btn>添加</button>
                                <button type="button" class="btn btn-warning" data-updata-btn>编辑</button>
                                <button type="button" class="btn btn-danger" data-delete-btn>删除</button>
                            </div>
                        </form>
                    </div>
                    <table id="navTab"></table>
                    <div id="childMenusModal" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        ×
                                    </button>
                                    <h4 class="modal-title">
                                        配置信息
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <form class="form-horizontal" action="">
                                        <div class="form-group">
                                            <label for="ID" class="col-sm-3 control-label">ID</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="ID" placeholder="" disabled="disabled">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="SmallMenuName" class="col-sm-3 control-label">小菜单名字</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="SmallMenuName" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="SmallMenuRoute" class="col-sm-3 control-label">小菜单跳转的路由</label>
                                            <div class="col-sm-9">
                                                <select id="SmallMenuRoute" class="selectpicker" data-live-search="true"></select>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- dialog buttons -->
                                <div class="modal-footer"><button type="button" class="btn btn-primary" data-save-btn>保存</button></div>
                            </div>
                        </div>
                    </div>
                    <div id="childMenusToolbar">
                        <form class="form-inline">
                            <div class="form-group">
                                <div class="input-group">
                                    <select id="childMenusSearchField" class="selectpicker" data-live-search="true"></select>
                                </div>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="childMenusSearchVal">
                                </div>
                                <button type="button" class="btn btn-primary" data-search-btn>查询</button>
                                <button type="button" class="btn btn-info" data-add-btn>添加</button>
                                <button type="button" class="btn btn-warning" data-updata-btn>编辑</button>
                                <button type="button" class="btn btn-danger" data-delete-btn>删除</button>
                            </div>
                        </form>
                    </div>
                    <table id="childMenusTab"></table>
                </div>
                <div role="tabpanel" class="tab-pane" id="ISFlagconfig">
                    <div id="ISFlagModal" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        ×
                                    </button>
                                    <h4 class="modal-title">
                                        配置信息
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <form class="form-horizontal" action="">
                                        <div class="form-group">
                                            <label for="ID" class="col-sm-3 control-label">ID</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="ID" placeholder="" disabled="disabled">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="Flag" class="col-sm-3 control-label">标识</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="Flag" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="Description" class="col-sm-3 control-label">描述</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="Description" placeholder="">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- dialog buttons -->
                                <div class="modal-footer"><button type="button" class="btn btn-primary" data-save-btn>保存</button></div>
                            </div>
                        </div>
                    </div>
                    <div id="ISFlagToolbar">
                        <form class="form-inline">
                            <div class="form-group">
                                <div class="input-group">
                                    <select id="ISFlagSearchField" class="selectpicker" data-live-search="true"></select>
                                </div>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="ISFlagSearchVal">
                                </div>
                                <button type="button" class="btn btn-primary" data-search-btn>查询</button>
                                <button type="button" class="btn btn-info" data-add-btn>添加</button>
                                <button type="button" class="btn btn-warning" data-updata-btn>编辑</button>
                                <button type="button" class="btn btn-danger" data-delete-btn>删除</button>
                            </div>
                        </form>
                    </div>
                    <table id="ISFlagTab"></table>
                </div>
                <div role="tabpanel" class="tab-pane" id="InputTypeconfig">
                    <div id="InputTypeModal" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        ×
                                    </button>
                                    <h4 class="modal-title">
                                        配置信息
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <form class="form-horizontal" action="">
                                        <div class="form-group">
                                            <label for="ID" class="col-sm-3 control-label">ID</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="ID" placeholder="" disabled="disabled">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="Type" class="col-sm-3 control-label">类型</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="Type" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="Title" class="col-sm-3 control-label">名称</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="Title" placeholder="">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- dialog buttons -->
                                <div class="modal-footer"><button type="button" class="btn btn-primary" data-save-btn>保存</button></div>
                            </div>
                        </div>
                    </div>
                    <div id="InputTypeToolbar">
                        <form class="form-inline">
                            <div class="form-group">
                                <div class="input-group">
                                    <select id="InputTypeSearchField" class="selectpicker" data-live-search="true"></select>
                                </div>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="InputTypeSearchVal">
                                </div>
                                <button type="button" class="btn btn-primary" data-search-btn>查询</button>
                                <button type="button" class="btn btn-info" data-add-btn>添加</button>
                                <button type="button" class="btn btn-warning" data-updata-btn>编辑</button>
                                <button type="button" class="btn btn-danger" data-delete-btn>删除</button>
                            </div>
                        </form>
                    </div>
                    <table id="InputTypeTab"></table>
                    <div id="FieldTypeModal" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        ×
                                    </button>
                                    <h4 class="modal-title">
                                        配置信息
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <form class="form-horizontal" action="">
                                        <div class="form-group">
                                            <label for="ID" class="col-sm-3 control-label">ID</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="ID" placeholder="" disabled="disabled">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="Type" class="col-sm-3 control-label">类型</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="Type" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="Description" class="col-sm-3 control-label">描述</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="Description" placeholder="">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- dialog buttons -->
                                <div class="modal-footer"><button type="button" class="btn btn-primary" data-save-btn>保存</button></div>
                            </div>
                        </div>
                    </div>
                    <div id="FieldTypeToolbar">
                        <form class="form-inline">
                            <div class="form-group">
                                <div class="input-group">
                                    <select id="FieldTypeSearchField" class="selectpicker" data-live-search="true"></select>
                                </div>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="FieldTypeSearchVal">
                                </div>
                                <button type="button" class="btn btn-primary" data-search-btn>查询</button>
                                <button type="button" class="btn btn-info" data-add-btn>添加</button>
                                <button type="button" class="btn btn-warning" data-updata-btn>编辑</button>
                                <button type="button" class="btn btn-danger" data-delete-btn>删除</button>
                            </div>
                        </form>
                    </div>
                    <table id="FieldTypeTab"></table>
                </div>
                <div role="tabpanel" class="tab-pane" id="databaseconfig">
                    <div id="databaseModal" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        ×
                                    </button>
                                    <h4 class="modal-title">
                                        配置信息
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <form class="form-horizontal" action="">
                                        <div class="form-group">
                                            <label for="ID" class="col-sm-3 control-label">ID</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="ID" placeholder="" disabled="disabled">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="TableName" class="col-sm-3 control-label">表名</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="TableName" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="TableDescrip" class="col-sm-3 control-label">表的描述</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="TableDescrip" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="ISFirstCheckBox" class="col-sm-3 control-label">是否在第一列显示多选框</label>
                                            <div class="col-sm-9">
                                                <select id="ISFirstCheckBox" class="selectpicker"></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="SingleSelect" class="col-sm-3 control-label">是否实现单选</label>
                                            <div class="col-sm-9">
                                                <select id="SingleSelect" class="selectpicker"></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="IsAdd" class="col-sm-3 control-label">是否显示添加按钮</label>
                                            <div class="col-sm-9">
                                                <select id="IsAdd" class="selectpicker"></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="IsUpdate" class="col-sm-3 control-label">是否显示修改按钮</label>
                                            <div class="col-sm-9">
                                                <select id="IsUpdate" class="selectpicker"></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="IsDelete" class="col-sm-3 control-label">是否显示删除按钮</label>
                                            <div class="col-sm-9">
                                                <select id="IsDelete" class="selectpicker"></select>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- dialog buttons -->
                                <div class="modal-footer"><button type="button" class="btn btn-primary" data-save-btn>保存</button></div>
                            </div>
                        </div>
                    </div>
                    <div id="databaseToolbar">
                        <form class="form-inline">
                            <div class="form-group">
                                <div class="input-group">
                                    <select id="databaseSearchField" class="selectpicker" data-live-search="true"></select>
                                </div>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="databaseSearchVal">
                                </div>
                                <button type="button" class="btn btn-primary" data-search-btn>查询</button>
                                <button type="button" class="btn btn-info" data-add-btn>添加</button>
                                <button type="button" class="btn btn-warning" data-updata-btn>编辑</button>
                                <button type="button" class="btn btn-danger" data-delete-btn>删除</button>
                            </div>
                        </form>
                    </div>
                    <table id="databaseTab"></table>
                    <div id="FieldSetModal" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        ×
                                    </button>
                                    <h4 class="modal-title">
                                        配置信息
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <form class="form-horizontal" action="">
                                        <div class="form-group">
                                            <label for="ID" class="col-sm-3 control-label">ID</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="ID" placeholder="" disabled="disabled">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="TitleName" class="col-sm-3 control-label">字段名称</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="TitleName" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="field" class="col-sm-3 control-label">字段名</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="FieldName" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="Isedit" class="col-sm-3 control-label">是否做添加修改操作</label>
                                            <div class="col-sm-9">
                                                <select id="Isedit" class="selectpicker"></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="Edittype" class="col-sm-3 control-label">输入类型</label>
                                            <div class="col-sm-9">
                                                <select id="Edittype" class="selectpicker"></select>
                                                <span class="text-muted">不做添加修改操作，忽略此项</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="Downtable" class="col-sm-3 control-label">下拉框的数据表</label>
                                            <div class="col-sm-9">
                                                <select id="Downtable" class="selectpicker" data-live-search="true"></select>
                                                <span class="text-muted">输入类型不为下拉框，忽略此项</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="Sortable" class="col-sm-3 control-label">该列是否排序</label>
                                            <div class="col-sm-9">
                                                <select id="Sortable" class="selectpicker"></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="Visible" class="col-sm-3 control-label">该列是否可见</label>
                                            <div class="col-sm-9">
                                                <select id="Visible" class="selectpicker"></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="comment" class="col-sm-3 control-label">字段注释</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="comment" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="type" class="col-sm-3 control-label">字段类型</label>
                                            <div class="col-sm-9">
                                                <select id="type" class="selectpicker" data-live-search="true"></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="length" class="col-sm-3 control-label">VARCHAR长度</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="length" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="primarykey" class="col-sm-3 control-label">是否为主键</label>
                                            <div class="col-sm-9">
                                                <select id="primarykey" class="selectpicker"></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="autoincrement" class="col-sm-3 control-label">是否自增</label>
                                            <div class="col-sm-9">
                                                <select id="autoincrement" class="selectpicker"></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="nullable" class="col-sm-3 control-label">是否为空</label>
                                            <div class="col-sm-9">
                                                <select id="nullable" class="selectpicker"></select>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- dialog buttons -->
                                <div class="modal-footer"><button type="button" class="btn btn-primary" data-save-btn>保存</button></div>
                            </div>
                        </div>
                    </div>
                    <div id="FieldSetToolbar">
                        <form class="form-inline">
                            <div class="form-group">
                                <div class="input-group">
                                    <select id="FieldSetSearchField" class="selectpicker" data-live-search="true"></select>
                                </div>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="FieldSetSearchVal">
                                </div>
                                <button type="button" class="btn btn-primary" data-search-btn>查询</button>
                                <button type="button" class="btn btn-info" data-add-btn>添加</button>
                                <button type="button" class="btn btn-warning" data-updata-btn>编辑</button>
                                <button type="button" class="btn btn-danger" data-delete-btn>删除</button>
                                <button type="button" class="btn btn-success" data-reset-table-btn>重置model</button>
                            </div>
                        </form>
                    </div>
                    <table id="FieldSetTab"></table>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function(){
            $("#pageTab").tableRender({
                tableName: 'PageRoute',
                toolbar: '#pageToolbar',
                columns: [{
                    checkbox: true
                },{
                    field: 'SetRoute',
                    title: '页面描述'
                },{
                    field: 'PageRouteName',
                    title: '页面名（XX.html）'
                },{
                    field: 'Route',
                    title: '路由'
                }],
                refreshDom:"#pageSearchField",
                fieldvalue: "#pageSearchVal",
                Modal: '#pageModal',
                ModalFieldStr: [{
                    field:"ID",
                    type:"text"
                }, {
                    field: "SetRoute",
                    type: "text"
                },{
                    field:"PageRouteName",
                    type: "text"
                },{
                    field:"Route",
                    type: "text"
                }]
            })
            $("#navTab").tableRender({
                tableName: 'LeftMenus',
                toolbar: '#navToolbar',
                columns: [{
                    checkbox: true
                },{
                    field: 'BigMenuName',
                    title: '大菜单名字'
                },{
                    field: 'BigMenuLogo',
                    title: '大菜单图标'
                }],
                refreshDom:"#navSearchField",
                fieldvalue: "#navSearchVal",
                Modal: '#navModal',
                ModalFieldStr: [{
                    field:"ID",
                    type:"text"
                }, {
                    field: "BigMenuName",
                    type: "text"
                },{
                    field:"BigMenuLogo",
                    type: "text"
                }],
                clickChildTableDom:"#childMenusTab",
                clickChildTTableField:"BigMenuName"
            })
            $("#childMenusTab").tableRender({
                tableName: 'childMenus',
                toolbar: '#childMenusToolbar',
                columns: [{
                    checkbox: true
                },{
                    field: 'SmallMenuName',
                    title: '小菜单名字'
                },{
                    field: 'SmallMenuRoute',
                    title: '小菜单跳转的路由'
                }],
                refreshDom:"#childMenusSearchField",
                fieldvalue: "#childMenusSearchVal",
                Modal: '#childMenusModal',
                ModalFieldStr: [{
                    field:"ID",
                    type:"text"
                },{
                    field:"SmallMenuName",
                    type: "text"
                },{
                    field:"SmallMenuRoute",
                    type: "select",
                    selectTableName:"PageRoute",
                    selectFieldID:"Route",
                    selectField:"Route"
                }],
                clickParentTableDom:"#navTab",
                clickParentTableField:"BigMenuName"
            })
            $("#ISFlagTab").tableRender({
                tableName: 'ISFlag',
                toolbar: '#ISFlagToolbar',
                columns: [{
                    checkbox: true
                },{
                    field: 'Flag',
                    title: '标识'
                },{
                    field: 'Description',
                    title: '描述'
                }],
                refreshDom:"#ISFlagSearchField",
                fieldvalue: "#ISFlagSearchVal",
                Modal: '#ISFlagModal',
                ModalFieldStr: [{
                    field:"ID",
                    type:"text"
                }, {
                    field: "Flag",
                    type: "text"
                },{
                    field:"Description",
                    type: "text"
                }]
            })
            $("#InputTypeTab").tableRender({
                tableName: 'InputTypeTable',
                toolbar: '#InputTypeToolbar',
                columns: [{
                    checkbox: true
                },{
                    field: 'Type',
                    title: '类型'
                },{
                    field: 'Title',
                    title: '名称'
                }],
                refreshDom:"#InputTypeSearchField",
                fieldvalue: "#InputTypeSearchVal",
                Modal: '#InputTypeModal',
                ModalFieldStr: [{
                    field:"ID",
                    type:"text"
                },{
                    field: "Type",
                    type: "text"
                },{
                    field: "Title",
                    type: "text"
                }]
            })
            $("#FieldTypeTab").tableRender({
                tableName: 'FieldType',
                toolbar: '#FieldTypeToolbar',
                columns: [{
                    checkbox: true
                },{
                    field: 'Type',
                    title: '类型'
                },{
                    field: 'Description',
                    title: '描述'
                }],
                refreshDom:"#FieldTypeSearchField",
                fieldvalue: "#FieldTypeSearchVal",
                Modal: '#FieldTypeModal',
                ModalFieldStr: [{
                    field:"ID",
                    type:"text"
                },{
                    field: "Type",
                    type: "text"
                },{
                    field: "Description",
                    type: "text"
                }]
            })
            $("#databaseTab").tableRender({
                tableName: 'CreateTableSet',
                toolbar: '#databaseToolbar',
                columns: [{
                    checkbox: true
                },{
                    field: 'TableName',
                    title: '表名'
                },{
                    field: 'TableDescrip',
                    title: '表的描述'
                },{
                    field: 'ISFirstCheckBox',
                    title: '是否在第一列显示多选'
                },{
                    field: 'SingleSelect',
                    title: '是否实现单选'
                },{
                    field: 'IsAdd',
                    title: '是否显示添加按钮'
                },{
                    field: 'IsUpdate',
                    title: '是否显示修改按钮'
                },{
                    field: 'IsDelete',
                    title: '是否显示删除按钮'
                }],
                refreshDom:"#databaseSearchField",
                fieldvalue: "#databaseSearchVal",
                Modal: '#databaseModal',
                ModalFieldStr: [{
                    field:"ID",
                    type:"text"
                },{
                    field: "TableName",
                    type: "text"
                },{
                    field: "TableDescrip",
                    type: "text"
                },{
                    field:"ISFirstCheckBox",
                    type: "select",
                    selectTableName:"ISFlag",
                    selectFieldID:"Flag",
                    selectField:"Description"
                },{
                    field:"SingleSelect",
                    type: "select",
                    selectTableName:"ISFlag",
                    selectFieldID:"Flag",
                    selectField:"Description"
                },{
                    field:"IsAdd",
                    type: "select",
                    selectTableName:"ISFlag",
                    selectFieldID:"Flag",
                    selectField:"Description"
                },{
                    field:"IsUpdate",
                    type: "select",
                    selectTableName:"ISFlag",
                    selectFieldID:"Flag",
                    selectField:"Description"
                },{
                    field:"IsDelete",
                    type: "select",
                    selectTableName:"ISFlag",
                    selectFieldID:"Flag",
                    selectField:"Description"
                }],
                clickChildTableDom:"#FieldSetTab",
                clickChildTTableField:"TableName"
            })
            $("#FieldSetTab").tableRender({
                tableName: 'FieldSet',
                toolbar: '#FieldSetToolbar',
                columns: [{
                    checkbox: true
                },{
                    field: 'TableName',
                    title: '表名称'
                },{
                    field: 'TitleName',
                    title: '字段名称'
                },{
                    field: 'FieldName',
                    title: '字段名'
                },{
                    field: 'Isedit',
                    title: '是否做添加修改操作'
                },{
                    field: 'Edittype',
                    title: '输入类型'
                },{
                    field: 'Downtable',
                    title: '下拉框的数据表'
                },{
                    field: 'Sortable',
                    title: '该列是否排序'
                },{
                    field: 'Visible',
                    title: '该列是否可见'
                },{
                    field: 'comment',
                    title: '字段注释'
                },{
                    field: 'type',
                    title: '字段类型'
                },{
                    field: 'length',
                    title: 'VARCHAR长度'
                },{
                    field: 'primarykey',
                    title: '是否为主键'
                },{
                    field: 'autoincrement',
                    title: '是否自增'
                },{
                    field: 'nullable',
                    title: '是否为空'
                }],
                refreshDom:"#FieldSetSearchField",
                fieldvalue: "#FieldSetSearchVal",
                Modal: '#FieldSetModal',
                ModalFieldStr: [{
                    field:"ID",
                    type:"text"
                },{
                    field: "TitleName",
                    type: "text"
                },{
                    field: "FieldName",
                    type: "text"
                },{
                    field: "Isedit",
                    type: "select",
                    selectTableName:"ISFlag",
                    selectFieldID:"Flag",
                    selectField:"Description",
                },{
                    field:"Edittype",
                    type: "select",
                    selectTableName:"InputTypeTable",
                    selectFieldID:"Title",
                    selectField:"Title"
                },{
                    field:"Downtable",
                    type: "select",
                    selectTableName:"CreateTableSet",
                    selectFieldID:"TableName",
                    selectField:"TableName"
                },{
                    field:"Sortable",
                    type: "select",
                    selectTableName:"ISFlag",
                    selectFieldID:"Flag",
                    selectField:"Description"
                },{
                    field:"Visible",
                    type: "select",
                    selectTableName:"ISFlag",
                    selectFieldID:"Flag",
                    selectField:"Description"
                },{
                    field: "comment",
                    type: "text"
                },{
                    field: "type",
                    type: "select",
                    selectTableName:"FieldType",
                    selectFieldID:"Type",
                    selectField:"Type"
                },{
                    field: "primarykey",
                    type: "select",
                    selectTableName:"ISFlag",
                    selectFieldID:"Flag",
                    selectField:"Description"
                },{
                    field: "length",
                    type: "text"
                },{
                    field: "autoincrement",
                    type: "select",
                    selectTableName:"ISFlag",
                    selectFieldID:"Flag",
                    selectField:"Description"
                },{
                    field: "nullable",
                    type: "select",
                    selectTableName:"ISFlag",
                    selectFieldID:"Flag",
                    selectField:"Description"
                }],
                clickParentTableDom:"#databaseTab",
                clickParentTableField:"TableName"
            })
            //重置model
            $("#FieldSetToolbar").on("click","[data-reset-table-btn]",function(){
                var ParentTableRows = $("#databaseTab").bootstrapTable("getAllSelections")
                if(ParentTableRows.length == 1){
                    $.ajax({
                        url:"http://127.0.0.1:5000/CUID",
                        type: "get",
                        data: {
                            tableName:"FieldSet",
                            field: 'TableName',
                            fieldvalue: ParentTableRows[0].TableName,
                            limit: 100000000,
                            offset:0
                        },
                        traditional:true,
                        success: function (res) {
                            res = JSON.parse(res)
                            console.log(res)
                            var queryData = {}
                            var queryField = []
                            $.each(res.rows, function (i, value) {
                                queryData.tableName = res.rows[i].TableName
                                var queryFieldItem = {}
                                queryFieldItem.comment = res.rows[i].comment
                                queryFieldItem.type = res.rows[i].type
                                queryFieldItem.primarykey = res.rows[i].primarykey
                                queryFieldItem.autoincrement = res.rows[i].autoincrement
                                queryFieldItem.nullable = res.rows[i].nullable
                                queryFieldItem.FieldName = res.rows[i].FieldName
                                queryField.push(queryFieldItem)
                            })
                            queryField = JSON.stringify(queryField)
                            queryField = queryField.replace(",{",";{").replace(",{",";{")
                            queryData.Field = queryField
                            $.ajax({
                                url: "/system_set/make_model",
                                type: "post",
                                data: queryData,
                                success: function (res) {
                                    if(res == "OK"){
                                        var dialog = bootbox.dialog({
                                            message: '<p class="text-center mb-0"><i class="fa fa-spin fa-cog"></i>操作成功！</p>',
                                            closeButton: false
                                        });
                                        dialog.init(function(){
                                            setTimeout(function(){
                                                dialog.modal('hide');
                                            }, 2000);
                                        });
                                    }else{
                                        bootbox.alert(res)
                                    }
                                }
                            })
                        }
                    })
                }else{
                    bootbox.alert('请单选上级表格数据,获取单表字段！');
                }
            })
        })
    </script>
</body>
</html>