<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MICS</title>
    <link rel="stylesheet" href="../../static/style/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/style/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/style/jquery.scrollbar.min.css">
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/style/admin.css">
    <link rel="stylesheet" href="../../static/style/base.css">
    <style>
        #layuiTab .layadminHome i{
            display: none;
        }
        #layuiTab .layui-tab-title{
            background: #ffffff;
        }
    </style>
</head>
<body>
    <div class="contentWrap contentBg" id="contentWrap">
        <div class="contentLeft">
            <div class="sidebar">
                <div class="mainmenu mainmenuBg pull-left">
                    <ul class="mainnav">
                        <li><a href="/config" title="系统配置"><span class="glyphicon glyphicon-modal-window"></span></a></li>
                        <li><a href="javascript:;" title="系统管理"><span class="glyphicon glyphicon-cog"></span></a></li>
                    </ul>
                </div>
                <div class="submenu cardBg pull-left">
                    <div class="menuHead">
                        <div class="pull-left">生产监控</div>
                    </div>
                    <div class="subnav">
                        <ul>
                            <li>
                                <a href="javascript:;" lay-href="" class="addTabLink"><i class="glyphicon glyphicon-record"></i>制药计划管理</a>
                            </li>
                            <li>
                                <a href="javascript:;" class="addTabLink"><i class="glyphicon glyphicon-record"></i>计划明细</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="contentRight">
            <div class="contentRightB">
                <div class="navHead">
                    <div class="navUser">
                        <div class="navUserName">系统管理员</div>
                        <i class="glyphicon glyphicon-triangle-bottom"></i>
                        <div class="navUserPanel">
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="javascript:;" id="seeUserMessage">用户信息</a></li>
                                <li><a href="/account/logout">退出</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
{#                <div class="nth-tabs" id="editor-tabs"></div>#}
                <div class="layui-tab layui-tab-brief" lay-allowclose="true" id="layuiTab" style="margin: 0;">
                    <ul class="layui-tab-title">
                        <li class="layui-this layadminHome" lay-id="0">首页</li>
                    </ul>
                    <div class="layui-tab-content" style="padding: 15px;">
                        <div class="layui-tab-item layui-show">
                            <iframe tab-id="0" frameborder="0" src="/home" class="x-iframe"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../static/script/jquery-3.3.1.min.js"></script>
    <script src="../../static/script/bootstrap.min.js"></script>
    <script src="../../static/script/bootbox.min.js"></script>
    <script src="../../static/script/jquery.scrollbar.min.js"></script>
    <script src="../../static/layui/layui.js"></script>
    <script src="../../static/script/base.js"></script>
    <script src="../../static/script/admin.js"></script>
    <script>
        layui.use('element', function(){
            var $ = layui.jquery,element = layui.element;

            //触发事件
            var active = {
                tabAdd: function(title,url,id){
                    //新增一个Tab项
                    element.tabAdd('xbs_tab', {
                        title: title,
                        content: '<iframe tab-id="'+id+'" frameborder="0" src="'+url+'" scrolling="yes" class="x-iframe"></iframe>',
                        id: id
                    })
                }
                ,tabDelete: function(othis){
                    //删除指定Tab项
                    element.tabDelete('xbs_tab', '44');
                    othis.addClass('layui-btn-disabled');
                }
                ,tabChange: function(id){
                    //切换到指定Tab项
                    element.tabChange('xbs_tab', id);
                }
            };

            $('.site-demo-active').on('click', function(){
                var othis = $(this), type = othis.data('type');
                active[type] ? active[type].call(this, othis) : '';
            });

        });
    </script>
</body>
</html>