<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MICS</title>
    <link rel="stylesheet" href="../../static/style/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/style/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/style/jquery.scrollbar.min.css">
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/style/admin.css">
    <link rel="stylesheet" href="../../static/style/base.css">
</head>
<body>
    <div class="contentWrap contentBg" id="contentWrap">
        <div class="contentLeft">
            <div class="sidebar">
                <div class="sidebarLeft sidebarLeftBg">
                    <ul class="sidebarLeftNav"></ul>
                    <div class="version">2.0</div>
                </div>
                <div class="sidebarRight sidebarRightBg">
                    <div class="sidebarRightHead hidden" data-menu-indet="系统管理">
                        <h3 class="indetNav">系统管理</h3>
                    </div>
                    <div class="sidebarRightHead hidden" data-menu-indet="生产建模">
                        <h3 class="indetNav">生产建模</h3>
                    </div>
                    <ul class="sidebarRightNav"></ul>
                    <div class="sidebarMoveBtn"><i class="glyphicon glyphicon-menu-left"></i></div>
                </div>
            </div>
        </div>
        <div class="contentRight">
            <div class="contentRightB">
                <nav class="navHead">
                    <div class="navHead-item flexibleCon"><a href="javascript:;" class="flexible"><i class="glyphicon glyphicon-list"></i></a></div>
                    <div class="navLogo"><a href="/"><img src="../../static/images/logo.png" alt=""></a></div>
                    <ul class="navHead-riht">
                        <li class="navHead-item">
                            <a href="javascript:;" id="userInfo" data-job-number="{{ current_user['WorkNumber'] }}" data-sesseionid="{{ current_user['session_id'] }}"><cite>{{ current_user['Name'] }}</cite><i class="glyphicon glyphicon-triangle-bottom icon-pull-right"></i></a>
                            <div class="navUserPanel">
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="javascript:;" id="seeUserMessage">用户信息</a></li>
                                    <li><a href="/account/logout">退出</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="navHead-item"><a href="javascript:;" data-fullscreen><i class="glyphicon glyphicon-fullscreen"></i></a></li>
                        <li class="navHead-item"><a href="javascript:;"><i class="glyphicon glyphicon-bell"></i></a></li>
                        <li class="navHead-item"><a href="/config" target="_blank"><i class="glyphicon glyphicon-glass"></i></a></li>
                    </ul>
                </nav>
                <div class="layadmin-pagetabs">
                    <div class="layui-icon layui-icon-down layadmin-tabs-control">
                        <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
                            <li class="layui-nav-item">
                                <dl class="layui-nav-child layui-anim-fadein layui-anim layui-anim-upbit">
                                    <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                                    <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其他标签页</a></dd>
                                    <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
                                </dl>
                            </li>
                        </ul>
                    </div>
                    <div class="layui-tab layui-tab-brief" lay-filter="xbs_tab" lay-allowclose="true" id="layuiTab">
                        <ul class="layui-tab-title" id="LAY_app_tabsheader">
                            <li class="layui-this layadminHome" lay-id="0"><span class="layui-icon layui-icon-home"></span></li>
                        </ul>
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show">
                                <iframe tab-id="0" frameborder="0" src="/home" class="x-iframe"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="body-shade"></div>
        </div>
    </div>
    <script src="../../static/script/jquery-3.3.1.min.js"></script>
    <script src="../../static/script/bootstrap/bootstrap.min.js"></script>
    <script src="../../static/script/bootstrap/bootbox.min.js"></script>
    <script src="../../static/script/jquery.scrollbar.min.js"></script>
    <script src="../../static/layui/layui.js"></script>
    <script src="../../static/script/base.js"></script>
    <script src="../../static/script/admin.js"></script>
</body>
</html>