<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
    <link rel="stylesheet" href="../../static/style/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/style/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/style/admin.css">
    <link rel="stylesheet" href="../../static/style/base.css">
</head>
<body>
    <div class="loginContent">
        <div class="loginImg-shade"></div>
        <div class="login-modal-box">
            <div class="login-modal">
                <form action="/account/login" id="loginForm" method="post">
                    <div class="login-modal-shade"></div>
                    <div class="login-modal-head">辽宁好护士能耗管理系统</div>
                    <div class="login-modal-body">
                        <div class="form-group">
                            <label class="prepend">
                                <span class="prependField">账号</span>
                                <input type="text" class="form-control input-lg" name="WorkNumber" />
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="prepend">
                                <span class="prependField">密码</span>
                                <input type="password" class="form-control input-lg" name="password" />
                            </label>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="remember"> 记住密码
                                </label>
                            </div>
                        </div>
                    </div>
                    <button type="submit" id="submitBtn">登录</button>
                </form>
            </div>
        </div>
    </div>
    <script src="../../static/script/jquery-3.3.1.min.js"></script>
    <script src="../../static/script/jquery.cookie.js"></script>
    <script src="../../static/script/base64.js"></script>
    <script>
        $(function(){
            var rememberPassword = $.cookie("rememberPassword")
            if(rememberPassword == "true"){
                $("input[name=WorkNumber]").val($.cookie("name"))
                $("input[name=password]").val(Base64.decode($.cookie("Password")))
                $("#remember").prop("checked",true)
            }
            $("#loginForm").on("submit",function(){
                if($("#remember").prop("checked")){
                    if($.cookie("rememberPassword")){

                    }else{
                        $.cookie("name",$("input[name=WorkNumber]").val(), { expires: 7 })
                        $.cookie("Password",Base64.encode($("input[name=password]").val()), { expires: 7 })
                        $.cookie("rememberPassword","true", { expires: 7 })
                    }
                }else{
                    $.removeCookie("name")
                    $.removeCookie("Password")
                    $.removeCookie("rememberPassword")
                }
            })
        })
    </script>
</body>
</html>
