/* 登录页 */
.login-form .el-input__inner:focus{
  border: 1px solid #082F4C;
}
.remembCheckbox{color:#131414}
.remembCheckbox .el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner{
  background-color: #082F4C;
  border-color: #082F4C;
}
.remembCheckbox .el-checkbox__input.is-checked+.el-checkbox__label{
  color: #082F4C;
}
/* 侧边导航栏 */
.menu-ul .el-menu-item,.el-submenu__title,.el-submenu__title:hover{
  background: #082F4C;
  color: #fff;
  font-size: 18px;
}
.menu-ul .el-menu-item.is-active {
  background-color: #fff;
  color: #082F4C;
}
.el-submenu .el-menu-item{
  font-size: 14px;
  min-width: auto;
}
/* 头部用户导航 */
.el-dropdown{
  color: #082F4C;
  font-size: 20px;
}
/* 常用字体样式 */
.float-left{
  float: left;
}
.float-right{
  float: right;
}
.text-center{
  text-align: center;
}
.bg-dead{
  background-color: #ECF1F4;
}
.bg-low{
  background-color: #F5E866;
}
.bg-center{
  background-color: #FB8A06;
}
.bg-tall{
  background-color: #FB3A06;
}
.text-size-big{
  font-size: 24px;
}
.text-size-large{
  font-size: 20px;
}
.text-size-normol{
  font-size: 16px;
}
.text-size-small{
  font-size: 14px;
}
.text-size-mini{
  font-size: 12px;
}
.text-color-info{
  color: rgba(8,47,76,1);
}
.text-color-info-shallow{
  color: rgba(8,47,76,0.58);
}
.text-color-primary{
  color: #228AD5;
}
.text-color-warning{
  color: #FB8A06;
}
.text-color-success{
  color: #15CC48;
}
.text-color-danger{
  color: #FB3A06;
}
.text-color-caption{
  color: #9B9B9B;
}
/* 公共导航菜单 */
.navOptionsItem{
  width:100%;
  background:#082F4C;
  clear: both;
  overflow: hidden;
  border-radius:4px;
  margin-bottom: 20px;
}
.navOptionsItem ul li{
  float:left;
  margin:10px;
}
.navOptionsItem ul li a{
  display: block;
  color:#fff;
  font-size:18px;
  background:#082F4C;
  text-decoration: none;
  padding:5px 20px;
  border-radius:4px;
}
.navOptionsItem ul li a.active{
  color:#082F4C;
  background:#fff;
}
/* 卡片头部及装载图表的div */
.chartHead{
  position: relative;
  background: #fff;
  border-radius: 4px 4px 0 0;
  height: 46px;
  line-height: 46px;
  padding: 0 15px;
}
.chartTile{
  float: left;
  height: 46px;
  line-height: 46px;
  padding-right: 15px;
}
.chartHeadRight{
  float: right;
  line-height: 46px;
  margin-right: 15px;
  color: #131414;
  font-size: 18px;
}
.energyDataContainer{
  background: #fff;
  height: 440px;
  padding: 20px 15px;
  clear: both;
  overflow: hidden;
}
.platformContainer{
  background: #fff;
  color: #131414;
  padding: 10px;
  font-size: 16px;
  border-radius:4px;
  clear: both;
  overflow: hidden;
}
.cardformContainer{
  background: #fff;
  color: #131414;
  padding: 6px 10px;
  font-size: 16px;
  border-radius:4px;
  border: 1px solid #e1e1e1;
  clear: both;
  overflow: hidden;
}
.itemMarginBottom{
  margin-bottom: 15px;
}
.itemMarginBottom-s{
  margin-bottom: 5px;
}
.itemMarginBottom{
  margin-bottom: 15px;
}
.card-head{
  width: 100%;
  margin-bottom:10px;
  background: #082F4C;
  color: #fff;
  font-size: 18px;
  height: 48px;
  line-height: 48px;
  padding: 0 10px;
  border-radius:4px;
}
/* 卡片内下拉框 */
.collapse-head-select{
  width: 100px;
}
.collapse-head-select .el-input__inner{
  background-color: #fff;
  border:none;
  color:#082F4C;
}
/*  */
.clearfix:before,.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both
}
/* 卡片内单选框 */
.collapse-head-radio{
  float: right;
  line-height: 48px;
}
.collapse-head-radio .el-radio-button__inner{
  background-color: #082F4C;
  border: 1px solid #082F4C;
  color: #ffffff;
}
.collapse-head-radio .el-radio-button:first-child .el-radio-button__inner{
  border: none;
}
/*  */
.clearfix:before,.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both
}
/* 卡片标题头部切换菜单 */
.subsectionList{
  float: left;
  height: 46px;
  margin-left: 20px;
}
.subsectionList li {
  float: left;
}
.subsectionList li a{
  display: block;
  text-decoration: none;
  color: #9B9B9B;
  padding: 0 15px;
  font-size: 14px;
  border-bottom: 2px solid #EEEEEE;
}
.subsectionList li a.active{
  color: #228AD5;
  border-bottom: 2px solid #228AD5;
}
/* 表格行展开内容样式 */
.table-expand label{
  color: #99a9bf;
  min-width: 90px;
}
/* 表格分页样式 */
.paginationClass{
  margin:20px 0;
  text-align: right;
}
.el-pagination.is-background .el-pager li:not(.disabled).active{
  background-color: #082F4C;
}
/* 数字排版样式 */
.numBlock{
  display: inline-block;
  background:#228AD5;
  color: #fff;
  margin-right: 3px;
  padding: 0 5px;
  border-radius:4px;
}
/* 渐变色区域时段排版 */
.gradientList{
  clear: both;
  overflow: hidden;
}
.gradientList li{
  margin-top: 10px;
}
.gradientColorItem{
  width: 100%;
  height: 16px;
  margin-top: 10px;
  border: 1px solid #fff;
}
.gradientColorItem:hover{
  border: 1px solid rgba(8,47,76,0.58);
}
/* 滑块 */
.el-slider__runway{
  background-color: #fff;
}
.el-slider__bar{
  background: #082F4C;
}
.el-slider__button{
  border: 2px solid #082F4C;
}
/*  */
.card-head-select .el-input__inner{
  background-color: #082F4C;
  border:none;
  color:#fff;
}
.card-head-select .el-select__caret{
  line-height: 48px;
}
/*  */
#baseTabDrawer .el-drawer__body{
  overflow: auto;
}
/*  */
.fc-button,.fc-button-primary{
  font-size: 12px;
  padding:7px 15px;
}
.Timepick .ivu-picker-panel-body{
  background-color: #3D4048;
  width: 198px;
}
.Timepick .el-form-item{
  float: left;
  width:296px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.Timepick .el-form-item .el-form-item__label{
 color:#fff;
}
.Timepick .el-form-item__content{
  width:210px;
  float: left;
  }
.Timepick .ivu-picker-confirm .ivu-btn-primary{
  display: none;
}
.Timepick .el-checkbox.is-bordered+.el-checkbox.is-bordered {
  margin-top: 10px;
  margin-bottom: 10px;
}
.Timepick .el-date-editor.el-input, .Timepick .el-date-editor.el-input__inner {
  width: 210px;
}
.Timepick .el-button+.el-button {
  margin-left: 4px;
}
.Timepick .el-button{
  padding: 12px 13px;
}
.Timepick .el-input-number__decrease,.Timepick .el-input-number__increase{
  background-color:#409EFF;
  color: #fff;
}
