.contentWrap{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
#contentWrap.contentBg{
    background: #d8d8d8;
    color: #666666;
}
.contentLeft{
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 100%;
    box-shadow: none;
}
.contentRight{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-left: 400px;
    box-shadow: none;
    overflow: hidden;
}
.contentRightB{
    height: 100%;
}
.sideheadListBtn{
    line-height: 38px;
    cursor: pointer;
}
.sidebar{
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 100;
}
.sidebarLeft{
    position: absolute;
    height:100%;
    left: 0;
    top: 0;
    width: 82px;
    margin: 0;
    overflow-x: hidden;
    z-index: 100;
}
.sidebarLeft::-webkit-scrollbar {
    display: none;
}
#contentWrap .sidebarLeftBg{
    background: #07488E;
    color: #fff;
}
#contentWrap .sidebarLeftBg a{
    color: #fff;
}
#contentWrap .sidebarRightBg{
    background: #ffffff;
    color: #15161A;
}
#contentWrap .sidebarRightBg a{
    color: #15161A;
}
#contentWrap .sidebarRightBg a:hover{
    color: #ffffff;
}
#contentWrap .sidebarRightBg a.site-tab-active{
    color: #ffffff;
}
.sidebarLeftNav{
    width: 100%;
    margin-top: 68px;
}
.sidebarLeftNav li{
    position: relative;
}
.sidebarLeftNav li a{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 22px;
    padding: 10px 0;
}
.sidebarBg .sidebarLeftNav li a:hover{
    background: #1678E1;
}
.sidebarLeftNav li a.rootMenu{
    background: #1678E1;
}
.sidebarRight{
    position: absolute;
    left: 82px;
    top: 0;
    width: 328px;
    height: 100%;
    margin-left: 0;
    overflow-x: hidden;
    z-index: 99;
}
.sidebarRight::-webkit-scrollbar {
    display: none;
}
.sidebarRightHead{
    padding: 40px;
}
.sidebarRightNav{
    margin-bottom: 15px;
}
.sidebarRightNav li a{
    display: block;
    line-height: 17px;
    font-size: 16px;
    padding: 20px 40px;
}
.sidebarRightNav li a:after{
    content:"";
    width: 14px;
    height: 14px;
    float: right;
    border-radius: 50%;
    background: #ffffff;
}
.sidebarRightNav li a:hover{
    background: #07488E;
    color: #ffffff;
}
.sidebarRightNav li a.site-tab-active{
    background: #07488E;
    color: #ffffff;
}

/*右上角信息*/
.navHead{
    position: relative;
    height: 64px;
    background: #D8D8D8;
    color: #15161A;
}
.navUser{
    height: 64px;
    line-height: 64px;
    float: right;
    cursor: pointer;
}
.navUserName{
    display: inline-block;
    color: #15161A;
    font-size: 14px;
}
.navUserPanel{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 68px;
    background: #1d2025;
    z-index: 101;
}
.navUserPanel ul li {
    line-height: 20px;
}
.navUserPanel ul li a{
    color: #fff;
    opacity: 0.4;
}
.navUserPanel ul li a:hover{
    opacity: 1;
    background: none;
}

/* 选项卡样式 */
#layuiTab .layadminHome i{
    display: none;
}
#layuiTab .layui-tab-title{
    background: #ffffff;
}
[lay-href], [lay-tips], [layadmin-event]{
    cursor: pointer;
}
.layadmin-pagetabs{
    position: relative;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
}
.layadmin-pagetabs .layadmin-tabs-control{
    position: absolute;
    top: 0;
    width: 40px;
    height: 100%;
    text-align: center;
    cursor: pointer;
    transition: all .3s;
    -webkit-transition: all .3s;
    box-sizing: border-box;
    border-left: 1px solid #f6f6f6;
    background: #ffffff;
    z-index: 100;
}
.layadmin-pagetabs .layui-icon-down{
    left: 0;
}
.layadmin-tabs-select.layui-nav{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    background: 0 0;
}
.layadmin-tabs-select.layui-nav .layui-nav-item{
    display: block;
    line-height: 40px;
}
.layadmin-tabs-select.layui-nav .layui-nav-item a{
    color: #666;
}
.layadmin-tabs-select.layui-nav .layui-nav-item>a{
    height: 40px;
}
.layadmin-tabs-select.layui-nav .layui-nav-child{
    top: 40px;
    left: 0;
}
.layui-nav-child dd{
    position: relative;
    line-height: 36px;
}
.layadmin-pagetabs .layui-tab{
    position: absolute;
    left: 0;
    width: 100%;
    margin: 0;
}
#LAY_app_tabsheader{
    height: 40px;
    padding: 0 80px 0 40px;
    border: none;
    overflow: hidden;
}
.layadmin-pagetabs .layui-tab-title li{
    min-width: 0;
    line-height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    border-right: 1px solid #f6f6f6;
    vertical-align: top;
}
.layadmin-pagetabs .layui-tab-title li:first-child{
    padding-right: 15px;
}
.layadmin-pagetabs .layui-tab-title li.layui-this, .layadmin-pagetabs .layui-stab-title li:hover{
    background-color: #f6f6f6;
}
