*{padding:0;margin:0;}
div,dl,dt,dd,form,h1,h2,h3,h4,h5,h6,img,ol,ul,li,table,th,td,p,span,a{border:0;}
img,input{border:none;vertical-align:middle;}
body{
    width: 100%;
	height: 100%;
    font-family: myFont, sans-serif;
    font-size: 13px;
    line-height: 1.42857143;
    font-variant: normal;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
    letter-spacing:2px;
}
@font-face {
    font-family: 'myFont';
    src: url('../fonts/PingFang Medium.ttf');
    font-weight: normal;
    font-style: normal;
  }
html{
    width: 100%;
	height: 100%;
	overflow-x:hidden;
	overflow-y:auto;
}
ul,ol{list-style-type:none;}
a:hover{text-decoration: none}
a:focus{text-decoration: none}
.vertical-middle{
    vertical-align: middle;
}
.allheight{
    position: relative;
    height: 100%;
}
.wrap{
    padding: 15px;
    clear: both;
    overflow: hidden;
}

/*登录*/
.loginContent{
    position: relative;
    width: 100%;
    height: 100%;
    background: url("../images/loginBg.jpg") no-repeat;
    background-size: cover;
}
.enterInfo{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}
.enterInfo img{
    height: 100%;
}
.loginInfo{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
}
#loginForm{
    width: 100%;
    color: #fff;
    font-size: 14px;
}
#loginForm .form-group{
    margin-bottom: 33px;
}
#loginForm .form-group .prepend{
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    font-size: 14px;
    border: none;
    color: #000000;
}
#loginForm .form-group .form-control{
    padding-left: 60px;
    height: 61px;
    background: #fff;
    opacity: 0.5;
    box-shadow: none;
    border-radius: 8px;
}
#loginForm .form-group .prepend .prependField{
    position: absolute;
    top: 20px;
    left: 20px;
    color: inherit;
    z-index: 4;
}
#loginForm .form-group .form-control:focus{
    opacity: 1;
    box-shadow: none;
}
#submitBtn{
    background: #0859AF;
    color: #ffffff;
    border: none;
    height: 61px;
    outline:none;
}
#submitBtn:hover{
    background: #0B76EA;
}
#submitBtn:focus{
    background: #0B76EA;
}
/*配置页*/
.configHeader{
    width: 100%;
    height: 68px;
    background: #d8d8d8;
    position: relative;
    padding: 20px;
    clear: both;
    overflow: hidden;
}