*{padding:0;margin:0;}
div,dl,dt,dd,form,h1,h2,h3,h4,h5,h6,img,ol,ul,li,table,th,td,p,span,a{border:0;margin:0;}
img,input{border:none;vertical-align:middle;}
body{
    width: 100%;
	height: 100%;
    font-family: myFont, sans-serif;
    font-size: 13px;
    line-height: 1.42857143;
    font-variant: normal;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
    letter-spacing:2px;
}
@font-face {
    font-family: 'myFont';
    src: url('../fonts/PingFang Medium.ttf');
    font-weight: normal;
    font-style: normal;
  }
html{
    width: 100%;
	height: 100%;
	overflow-x:hidden;
	overflow-y:auto;
}
ul,ol{list-style-type:none;}
a:hover{text-decoration: none}
a:focus{text-decoration: none}
.vertical-middle{
    vertical-align: middle;
}
.allheight{
    position: relative;
    height: 100%;
}
.wrap{
    padding: 15px;
    clear: both;
    overflow: hidden;
}

/*登录*/
.loginContent{
    position: relative;
    width: 100%;
    height: 100%;
    background: url("../images/loginBg.jpg") no-repeat;
    background-size: cover;
}
.enterInfo{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}
.enterInfo img{
    height: 100%;
}
.loginInfo{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
}
#loginForm{
    width: 100%;
    color: #fff;
    font-size: 14px;
}
#loginForm .form-group{
    margin-bottom: 33px;
}
#loginForm .form-group .prepend{
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    font-size: 14px;
    border: none;
    color: #000000;
}
#loginForm .form-group .form-control{
    padding-left: 60px;
    height: 61px;
    background: #fff;
    opacity: 0.5;
    box-shadow: none;
    border-radius: 8px;
}
#loginForm .form-group .prepend .prependField{
    position: absolute;
    top: 20px;
    left: 20px;
    color: inherit;
    z-index: 4;
}
#loginForm .form-group .form-control:focus{
    opacity: 1;
    box-shadow: none;
}
#submitBtn{
    background: #0859AF;
    color: #ffffff;
    border: none;
    height: 61px;
    outline:none;
}
#submitBtn:hover{
    background: #0B76EA;
}
#submitBtn:focus{
    background: #0B76EA;
}
/*侧边导航内样式*/
.sideLogo{
    position: relative;
    margin: 0 auto 15px;
    width: 113px;
    height: 113px;
}
.sideLogoOuter{
    width: 100%;
    height: 100%;
    border: 2px dashed #979797;
    border-radius: 50%;
    padding: 10px;
    animation: namemf 12s linear infinite;
    -webkit-animation:namemf 12s linear infinite;
    -ms-animation: namemf 12s linear infinite;
}
@keyframes namemf{
    from{
        transform:rotate(0deg) ;
    }
    to{
        transform: rotate(360deg);
    }
}
@-webkit-keyframes namemf{
    from{
        transform:rotate(0deg) ;
    }
    to{
        transform: rotate(360deg);
    }
}
@-ms-keyframes namemf{
    from{
        transform:rotate(0deg) ;
    }
    to{
        transform: rotate(360deg);
    }
}
.sideLogoCore{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #07488E;
}
.sideLogo span{
    position: absolute;
    top: 36%;
    left: 25%;
    color: #fff;
    font-size: 21px;
}
/*配置页*/
.configHeader{
    width: 100%;
    height: 68px;
    background: #d8d8d8;
    position: relative;
    padding: 20px;
    clear: both;
    overflow: hidden;
}

.mics-bg-primary{
    background: #8A8F97;
    color: #fff;
}
.mics-bg-primary:hover{
    background: #07488E;
}
/* 面板 */
.mics-panel-head{
    padding: 10px 15px;
    display: flow-root;
}
.mics-panel-head:before{
    display: table;
    content: " ";
}
.mics-panel-title{
    font-size: 18px;
    font-weight: bold;
}
/* 表单 */
.mics-form-select{
    position: relative;
    display: table;
    margin: 0 auto;
    font-size: 12px;
    color: #8A8F97;
    z-index: 2;
}
.select{position:relative;min-width:40px;margin-left:0;border:none;cursor:pointer;}
.select:after{content:"";position:absolute;top:50%;right:0;left:inherit;margin-top:-2px;border-top:5px solid #666;border-right:5px solid transparent;border-left:5px solid transparent;transition:all 0.3s linear;transform: rotate(0deg);}
.select.select_down:after{transform: rotate(180deg);}
.select .select_text{padding-left:0;padding-right:20px;line-height:26px;text-align: left;}
.select_ul{display:none;position:absolute;top:34px;left:-1px;min-width:40px;border:1px solid #D4D4D4;border-bottom-right-radius:3px;border-bottom-left-radius:3px;background:#fff;}
.select_ul li{line-height:36px;text-indent:10px;text-align: center;}
.select_ul li:hover{color:#fff;background:#6AA7EA;}
.select_ul li.cur{color:#fff;background:#195DA3;}
.select.selectFontKeepLeft{margin-left:15px;}
.select.selectFontKeepLeft:after{left:0;right:inherit}
.select.selectFontKeepLeft .select_text{padding-left:20px;padding-right:0;text-align: right;}

/*实时数据图表*/
.realDataCharts{
    height: 166px;
    background: #F9F9F9;
    border-radius: 8px;
    margin-bottom: 15px;
}
/*实时数据显示数字*/
.groupLabel{
    font-size: 18px;
    color: #07488E;
    white-space: nowrap;
    line-height: 40px;
}
@font-face {
    font-family: unidreamLED;
    src: url("../fonts/UnidreamLED.ttf");
    /* IE9+  HTML节点的lang="en" 记得去掉，不然会谷歌浏览器会自动翻译导致字体不正确 */
}
.roll_number{
    font-family: unidreamLED;
    font-size: 24px;
    color : #fff;
    background: #060f1a;
    letter-spacing:5px;
    border-radius: 4px;
    text-align: right;
    padding: 5px;
}
.to__led-number {
    position: relative;
    margin-right: 9px;
    font-size: 50px;
    width: 38px;
    height: 70px;
    padding: 0.25rem 0;
    text-align: center;
    border: 2px solid rgba(105, 123, 148, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
}

.to__led-number--no {
    width: 19px;
    background: unset;
    border: none;
}
/* 进度条 */
.EnergyNode{
    padding: 0 15px;
    color: #8A8F97;
}
.EnergyNode li{
    margin-top: 35px;
}
.EnergyNode .progress{
    width: 100%;
    height: 4px;
    margin-top: 15px;
}
/* 实时数据页面 */
.trendsChartContent{
    height: 300px;
    white-space: nowrap;
    overflow: hidden;
}
.trendsChartItem{
    display: inline-block;
    width: 162px;
    height: 276px;
    margin:20px 15px 0;
    padding: 15px;
    border-radius: 8px;
}
/*区域能耗量表格*/
.EnergyAreaTable{
    padding: 15px;
}
.EnergyAreaTable table{
    width: 100%;
}
.EnergyAreaTable table tr{
    color: #8A8F97;
    font-weight: bold;
}
.EnergyAreaTable table tr:hover{
    color: #07488E;
}
.EnergyAreaTable table td{
    padding: 15px 0;
    text-align: center;
}
.fontBlock{
    width: 42px;
    height: 42px;
    line-height: 42px;
    background: #f4f4f4;
    border-radius: 50%;
}
/*成本展示*/
.costData{
    padding: 15px;
    height: 130px;
    border-radius: 8px;
    margin-top: 20px;
}
.bottomLeft{
    position: absolute;
    bottom: 0;
    left: 0;
}
.bottomRight{
    position: absolute;
    bottom: 0;
    right: 0;
}
.costData .costDataHead{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 30px;
}
.costData .costDataContent{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 70px;
}