<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据报表</title>
    <link rel="stylesheet" href="../static/style/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style/bootstrap/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="../static/style/base.css">
    <script src="../static/script/jquery-3.3.1.min.js"></script>
    <script src="../static/script/bootstrap/bootstrap.min.js"></script>
    <script src="../static/script/bootstrap/bootstrap-datetimepicker.min.js"></script>
    <script src="../static/highcharts/highcharts.js"></script>
    <script src="../static/highcharts/drilldown.js"></script>
    <script src="../static/script/base.js"></script>
    <style>
        .chart{
            height: 230px;
        }
        .table-condensed{
            width: 100%;
        }
        .datetimepicker.datetimepicker-dropdown-bottom-right.dropdown-menu{
            -webkit-box-shadow: none;
            box-shadow: none;
            border: none;
            margin-top: 15px;
        }
        .datetimepicker.datetimepicker-dropdown-bottom-right.dropdown-menu:before{
            display: none;
        }
        .datetimepicker.datetimepicker-dropdown-bottom-right.dropdown-menu:after{
            display: none;
        }
    </style>
</head>
<body>
    <div class="wrap">
        <div class="col-md-9">
            <div id="container" style="width: 100%;"></div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <div class="mics-btn-group btn-group btn-group-xs" role="group" id="datetimepickerBtnGroup" style="width: 100%;">
                    <button type="button" class="btn" style="width: 33.3%;">年</button>
                    <button type="button" class="btn" style="width: 33.3%;">月</button>
                    <button type="button" class="btn" style="width: 33.3%;">日</button>
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control input-sm datetimepicker" id="dateTime" readonly>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            //时间选择控件
            $.fn.datetimepicker.dates['zh'] = {
                days:       ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六","星期日"],
                daysShort:  ["日", "一", "二", "三", "四", "五", "六","日"],
                daysMin:    ["日", "一", "二", "三", "四", "五", "六","日"],
                months:     ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月","十二月"],
                monthsShort:  ["一", "二", "三", "四", "五", "六", "七", "八", "九", "十", "十一", "十二"],
                meridiem:    ["上午", "下午"],
                today:       "今天"
            };
            $("#datetimepickerBtnGroup").on("click",".btn",function(){
                $(this).addClass("active").siblings().removeClass("active")
                if($(this).html() == "年"){
                    $(".datetimepicker").datetimepicker('remove');
                    $(".datetimepicker").datetimepicker({
                        format: 'yyyy', // 标签上可用data-date-format="hh:ii" data-link-format="hh:ii"
                        startView : 4,
                        minView:4, //0到分钟结束，1到小时，2到日
                        todayBtn : true,
                        language: 'zh-CN'
                    })
                    $(".datetimepicker").focus();
                    $(".datetimepicker.datetimepicker-dropdown-bottom-right.dropdown-menu").css("width",$(".form-control.datetimepicker").width() + 10)
                    $(".datetimepicker").val(myYearformatter(new Date()));
                }else if($(this).html() == "月"){
                    $(".datetimepicker").datetimepicker('remove');
                    $(".datetimepicker").datetimepicker({
                        format: 'yyyy-mm', // 标签上可用data-date-format="hh:ii" data-link-format="hh:ii"
                        startView : 3,
                        minView:3, //0到分钟结束，1到小时，2到日
                        todayBtn : true,
                        language: 'zh-CN'
                    })
                    $(".datetimepicker").focus()
                    $(".datetimepicker.datetimepicker-dropdown-bottom-right.dropdown-menu").css("width",$(".form-control.datetimepicker").width() + 10)
                    $(".datetimepicker").val(myMonthformatter(new Date()));
                }else if($(this).html() == "日"){
                    $(".datetimepicker").datetimepicker('remove');
                    $(".datetimepicker").datetimepicker({
                        format: 'yyyy-mm-dd', // 标签上可用data-date-format="hh:ii" data-link-format="hh:ii"
                        startView : 2,
                        minView:2, //0到分钟结束，1到小时，2到日
                        todayBtn : true,
                        language: 'zh-CN'
                    })
                    $(".datetimepicker").focus();
                    $(".datetimepicker.datetimepicker-dropdown-bottom-right.dropdown-menu").css("width",$(".form-control.datetimepicker").width() + 10)
                    $(".datetimepicker").val(myDayformatter(new Date()));
                }
            })
            //chartRender($("#dateTime").val())
            $("#dateTime").on('changeDate', function (e) {
                var dateTime = $("#dateTime").val()
                //chartRender(dateTime)
            })
            $("#datetimepickerBtnGroup button:eq(0)").click()
            $("body").on("click",function(){
                $(".datetimepicker").show();
            })
            $(window).resize(function () {
                $(".datetimepicker.datetimepicker-dropdown-bottom-right.dropdown-menu").css("width",$(".form-control.datetimepicker").width() + 10)
            })

            $('#container').bind('mousemove touchmove touchstart', function (e) {
                var chart,
                    point,
                    i,
                    event;
                for (i = 0; i < Highcharts.charts.length; i = i + 1) {
                    chart = Highcharts.charts[i];
                    event = chart.pointer.normalize(e.originalEvent); // Find coordinates within the chart
                    point = chart.series[0].searchPoint(event, true); // Get the hovered point
                    if (point) {
                        point.highlight(e);
                    }
                }
            });
            //重写内部的方法， 这里是将提示框即十字准星的隐藏函数关闭
            Highcharts.Pointer.prototype.reset = function () {
                return undefined;
            };
            // 高亮当前的数据点，并设置鼠标滑动状态及绘制十字准星线
            Highcharts.Point.prototype.highlight = function (event) {
                this.onMouseOver(); // 显示鼠标激活标识
                this.series.chart.tooltip.refresh(this); // 显示提示框
                this.series.chart.xAxis[0].drawCrosshair(event, this); // 显示十字准星线
            };
            //同步缩放效果，即当一个图表进行了缩放效果，其他图表也进行缩放
            function syncExtremes(e) {
                var thisChart = this.chart;
                if (e.trigger !== 'syncExtremes') {
                    Highcharts.each(Highcharts.charts, function (chart) {
                        if (chart !== thisChart) {
                            if (chart.xAxis[0].setExtremes) {
                                chart.xAxis[0].setExtremes(e.min, e.max, undefined, false, { trigger: 'syncExtremes' });
                            }
                        }
                    });
                }
            }
            // 渲染方法
            //function chartRender(DateTime){
                $.ajax({
                    url:"/energyall",
                    type:"get",
                    data:{
                        DateTime:$("#dateTime").val()
                    },
                    success:function(res){
                        res = JSON.parse(res)
                        $.each(res.datasets, function (i, dataset) {
                            // 添加 X 数据
                            $('<div class="chart">').appendTo('#container').highcharts({
                                chart: {
                                    marginLeft: 40, // Keep all charts left aligned
                                    spacingTop: 20,
                                    spacingBottom: 20,
                                    zoomType: 'x'
                                },
                                title: {
                                    text: dataset.name,
                                    align: 'left',
                                    margin: 0,
                                    x: 30
                                },
                                credits: {
                                    enabled: false
                                },
                                legend: {
                                    enabled: false
                                },
                                xAxis: {
                                    crosshair: true,
                                    categories:res.xData,
                                    labels: {
                                        format: '{value}'
                                    }
                                },
                                yAxis: {
                                    title: {
                                        text: null
                                    }
                                },
                                tooltip: {
                                    positioner: function () {
                                        return {
                                            x: this.chart.chartWidth - this.label.width, // right aligned
                                            y: -1 // align to title
                                        };
                                    },
                                    borderWidth: 0,
                                    backgroundColor: 'none',
                                    pointFormat: '{point.y}',
                                    headerFormat: '',
                                    shadow: false,
                                    style: {
                                        fontSize: '18px'
                                    },
                                    valueDecimals: dataset.valueDecimals
                                },
                                series: [{
                                    data: dataset.data,
                                    name: dataset.name,
                                    type: dataset.type,
                                    color: Highcharts.getOptions().colors[i],
                                    fillOpacity: 0.3,
                                    tooltip: {
                                        valueSuffix: ' ' + dataset.unit
                                    }
                                }]
                            });
                        });
                    }
                })
            //}

        })
    </script>
</body>
</html>