<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据报表</title>
    <link rel="stylesheet" href="../static/style/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style/bootstrap/bootstrap-checkbox.css">
    <link rel="stylesheet" href="../static/style/bootstrap/bootstrap-table.min.css">
    <link rel="stylesheet" href="../static/style/bootstrap/bootstrap-select.min.css">
    <link rel="stylesheet" href="../static/style/bootstrap/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="../static/style/font-awesome.min.css">
    <link rel="stylesheet" href="../static/style/base.css">
    <script src="../static/script/jquery-3.3.1.min.js"></script>
    <script src="../static/script/bootstrap/bootstrap.min.js"></script>
    <script src="../static/script/bootstrap/bootstrap-table.min.js"></script>
    <script src="../static/script/bootstrap/bootstrap-table-zh-CN.min.js"></script>
    <script src="../static/script/bootstrap/bootstrap-select.min.js"></script>
    <script src="../static/script/bootstrap/bootstrap-datetimepicker.min.js"></script>
    <script src="../static/script/bootstrap/bootbox.min.js"></script>
    <script src="../static/highcharts/highstock.js"></script>
    <script src="../static/highcharts/highcharts-zh_CN.js"></script>
    <script src="../static/script/base.js"></script>
    <script src="../static/script/bootstrapTableCommon.js"></script>
</head>
<body>
    <div class="wrap">
        <form class="form-inline">
            <label for="">能源：</label>
            <div class="radio"><input type="radio" name="energySelector" id="energySelector1" value="电" checked><label for="energySelector1">电</label></div>
            <div class="radio"><input type="radio" name="energySelector" id="energySelector2" value="水"><label for="energySelector2">水</label></div>
            <div class="radio"><input type="radio" name="energySelector" id="energySelector3" value="汽"><label for="energySelector3">汽</label></div>
            <label for="" style="padding-left: 20px;">时间：</label>
            <input type="text" class="form-control input-sm datetimepicker" id="dateTime" readonly>
            <label for="" style="padding-left: 20px;">范围：</label>
            <div class="radio radio-primary"><input type="radio" name="rangeSelector" id="rangeSelector1" value="日" checked><label for="rangeSelector1">日</label></div>
            <div class="radio radio-primary"><input type="radio" name="rangeSelector" id="rangeSelector2" value="月"><label for="rangeSelector2">月</label></div>
            <div class="radio radio-primary"><input type="radio" name="rangeSelector" id="rangeSelector3" value="年"><label for="rangeSelector3">年</label></div>
            <button type="button" class="btn btn-default" id="exportExcel">导出Excel</button>
            <button type="button" class="btn btn-default" id="chartView">可视化图表</button>
        </form>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#Electric" aria-controls="Electric" role="tab" data-toggle="tab">电</a></li>
            <li role="presentation"><a href="#Water" aria-controls="Water" role="tab" data-toggle="tab">水</a></li>
            <li role="presentation"><a href="#Steam" aria-controls="Steam" role="tab" data-toggle="tab">汽</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="Electric">
                <table id="ElectricTab"></table>
            </div>
            <div role="tabpanel" class="tab-pane" id="Water">
                <table id="WaterTab"></table>
            </div>
            <div role="tabpanel" class="tab-pane" id="Steam">
                <table id="SteamTab"></table>
            </div>
        </div>
    </div>
    <div id="energyChartModal" class="modal mics-modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">图表</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <div id="modalEnergyHistoryChart" style="width: 100%;height: 410px;margin-top: 20px;"></div>
                    </div>
                </div>
                <div class="modal-footer" class="close" data-dismiss="modal">
                    <span class="fa fa-times"></span>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            //时间选择控件
            $.fn.datetimepicker.dates['zh'] = {
                days:       ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六","星期日"],
                daysShort:  ["日", "一", "二", "三", "四", "五", "六","日"],
                daysMin:    ["日", "一", "二", "三", "四", "五", "六","日"],
                months:     ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月","十二月"],
                monthsShort:  ["一", "二", "三", "四", "五", "六", "七", "八", "九", "十", "十一", "十二"],
                meridiem:    ["上午", "下午"],
                today:       "今天"
            };

            $('#dateTime').datetimepicker({
                format: 'yyyy-mm-dd', // 标签上可用data-date-format="hh:ii" data-link-format="hh:ii"
                autoclose: true, //选择完成自动关闭下拉框
                startView : 2,
                minView:2, //0到分钟结束，1到小时，2到日
                language: 'zh-CN'
            })
            $("#dateTime").val(myDayformatter(new Date()))

            $("#datetimepickerBtnGroup").on("click",".btn",function(){
                $(this).addClass("active").siblings().removeClass("active")
                var time = ""
                if($(this).html() == "年"){
                    time = myYearformatter(new Date($("#dateTime").val()))

                }else if($(this).html() == "月"){
                    time = myMonthformatter(new Date($("#dateTime").val()))

                }else if($(this).html() == "日"){
                    time = myDayformatter(new Date($("#dateTime").val()))

                }
            })

            $("#ElectricTab").tableRender({
                tableName:"ElectricEnergy"
            })
            $("#WaterTab").tableRender({
                tableName:"WaterEnergy"
            })
            $("#SteamTab").tableRender({
                tableName:"SteamEnergy"
            })

            $("#chartView").on("click",function(){
                $("#realTimeModal").modal('show')
                var energy = $('input[name="energySelector"]:checked').val()
                var dateTime = $("#dateTime").val()
                var range = $('input[name="rangeSelector"]:checked').val()
            })
        })
    </script>
</body>
</html>
