<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>系统日志</title>
    <link rel="stylesheet" href="../static/style/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style/bootstrap/bootstrap-table.min.css">
    <link rel="stylesheet" href="../static/style/bootstrap/bootstrap-select.min.css">
    <link rel="stylesheet" href="../static/style/base.css">
    <script src="../static/script/jquery-3.3.1.min.js"></script>
    <script src="../static/script/bootstrap/bootstrap.min.js"></script>
    <script src="../static/script/bootstrap/bootstrap-table.min.js"></script>
    <script src="../static/script/bootstrap/bootstrap-table-zh-CN.min.js"></script>
    <script src="../static/script/bootstrap/bootstrap-select.min.js"></script>
    <script src="../static/script/bootstrap/bootbox.min.js"></script>
    <script src="../static/script/base.js"></script>
    <script src="../static/script/config.js"></script>
</head>
<body>
    <div class="wrap">
        <div id="logtoolbar">
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <select id="logSearchField" class="selectpicker" data-live-search="true"></select>
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control" id="FieldTypeSearchVal">
                    </div>
                    <button type="button" class="btn btn-primary" data-search-btn>查询</button>
                </div>
            </form>
        </div>
        <table id="tab"></table>
    </div>
    <script>
        $(function(){
            $("#tab").tableRender({
                tableName: 'AuditTrace',
                toolbar: '#logtoolbar',
                columns: [{
                    field: 'Operation',
                    title: '操作'
                },{
                    field: 'DeitalMSG',
                    title: '详细信息'
                },{
                    field: 'ReviseDate',
                    title: '修改日期'
                },{
                    field: 'TableName',
                    title: '操作表'
                },{
                    field: 'User',
                    title: '用户'
                },{
                    field: 'Other',
                    title: '其他'
                }],
                refreshDom:"#logSearchField",
                fieldvalue: "#FieldTypeSearchVal",
                Modal: '#FieldTypeModal',
                ModalFieldStr: [{
                    field:"ID",
                    type:"text"
                },{
                    field: "Operation",
                    type: "text"
                },{
                    field: "DeitalMSG",
                    type: "text"
                },{
                    field: "ReviseDate",
                    type: "text"
                },{
                    field: "TableName",
                    type: "text"
                },{
                    field: "User",
                    type: "text"
                },{
                    field: "Other",
                    type: "text"
                }]
            })
        })
    </script>
</body>
</html>