<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>组织架构</title>
    <script src="../static/script/jquery-3.3.1.min.js"></script>
    <script src="../static/highcharts/highcharts.js"></script>
    <script src="../static/highcharts/sankey.js"></script>
    <script src="../static/highcharts/organization.js"></script>
</head>
<body>
    <div id="container"></div>
    <script>
        $(function(){
            $.ajax({
                type: "GET",
                url: "/organizationTU",
                async: false,
                success: function (data) {
                    data = JSON.parse(data)
                    Highcharts.chart('container', {
                        chart: {
                            height: 600,
                            inverted: true
                        },
                        title: {
                            text: '组织结构'
                        },
                        credits: {
                            enabled: false//不显示LOGO
                        },
                        series: [{
                            type: 'organization',
                            name: '启程思维',
                            keys: ['from', 'to'],
                            data: data,
                            levels: [{
                                level: 0,
                                color: 'silver',
                                dataLabels: {
                                    color: 'black'
                                },
                                height: 25
                            }, {
                                level: 1,
                                color: '#359154',
                                dataLabels: {
                                    color: 'black'
                                },
                                height: 25
                            }, {
                                level: 2,
                            }],
                            colorByPoint: false,
                            color: '#007ad0',
                            dataLabels: {
                                color: 'white'
                            },
                            borderColor: 'white',
                            nodeWidth: 65
                        }],
                        tooltip: {
                            outside: true
                        },
                        exporting: {
                            allowHTML: true,
                            sourceWidth: 800,
                            sourceHeight: 600
                        }
                    });
                }
            }, false);
        })
    </script>
</body>
</html>