.van-tabs--line .van-tabs__wrap {
    height: 20px;
}
.van-tab{
    line-height: 20px;
    padding: 0;
    border-radius: 4px;
}
.van-tab__pane{
    display: none;
}
.van-tabs__nav{
    background-color: #3D4048;
}
.van-tabs__nav--card{
    width: 105px;
    height: 18px;
    margin: 0px 0px;
    border: 1px solid #3D4048;
    border-radius: 4px;
}
.van-tabs__nav--card .van-tab {
    color: #fff;
    line-height: 18px;
    border-right: 1px solid #3D4048;
}
.van-tabs--card>.van-tabs__wrap{
    height: 18px;
}
.van-tabs__nav--card .van-tab.van-tab--active {
    background-color: #fff;
}