.van-tabs--line .van-tabs__wrap {
    height: 20px;
}
.van-tab{
    line-height: 20px;
    padding: 0;
    border-radius: 4px;
}
.van-tab__pane{
    display: none;
}
.van-tabs__nav{
    background-color: #666;
}
.tabbar .van-tabs__nav{
    background-color: #eee;
}
.van-tabs__nav--card{
    width:120px;
    height: 18px;
    margin: 0px 0px;
    border: 1px solid #3D4048;
    border-radius: 4px;
}
.van-tabs__nav--card .van-tab {
    color: #fff;
    line-height: 18px;
    border-right: 1px solid #3D4048;
}
.van-tabs--card>.van-tabs__wrap{
    height: 18px;
}
.van-tabs__nav--card .van-tab.van-tab--active {
    background-color: #fff;
}
.cir-choose .van-tabs__nav--card {
    width: 193px;
    height: 22px;
    border: 1px solid #3D4048;
}
.choice-box .van-tabs--card,.choice-box .van-tabs--card .van-tabs__wrap{
    height: 22px;
}
.choice-box .van-tabs__nav--card{
    height: 22px;
}

.cir-choose .van-tabs--card>.van-tabs__wrap {
    height: 22px;
}
.cir-choose .van-tabs__nav--card .van-tab{
    line-height: 22px;
}
.van-loading{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    z-index: 10;
}
.van-loading__text{
    color: lightgreen;
}
.singledate .van-tabs__nav--card{
    width:40px;
  }
  .van-dropdown-menu{
    height: 25px;
  }
  .van-dropdown-menu__title{
      font-size: 10px;
  }
  .bannertips .van-tabs__nav--card {
    margin-left: 10px;
    width: 155px;
}
.van-cell__value{
    font-size: 10px;
}
.van-sidebar{
    width: 100%;
}
.van-sidebar-item__text{
    font-size: 12px;
}